* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Applies margin and padding reset to all elements */

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
/* Sets the font family for the HTML element and hides horizontal overflow */

:root {
  --main-color: #f8b281;
  --secondary-color: #1b1b1b;
}
/* Defines custom CSS variables for main and secondary colors */

@font-face {
  font-family: "argonite";
  src: url("./assets/stone\ orgonite.woff");
}
/* Imports a custom font named "argonite" from a URL */

section {
  padding: 5%;
}
/* Sets padding for all sections */

h2 {
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}
/* Styles for heading 2 elements */

h3 {
  font-size: 1.25rem;
  line-height: 125%;
}
/* Styles for heading 3 elements */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Styles for navigation elements */

nav svg {
  cursor: pointer;
  z-index: 10;
}
/* Styles for SVG elements within the navigation */

.links {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}
/* Styles for a container with links */

.links a {
  color: var(--secondary-color);
  font-size: 2rem;
}
/* Styles for links within the container */

.logo {
  display: flex;
  align-items: center;
}
/* Styles for logo elements */

.logo h1 {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: "argonite", sans-serif;
}
/* Styles for the logo heading */

.logo img {
  width: 1.5rem;
}
/* Styles for the logo image */

.front-page {
  min-height: 100vh;
  color: white;
}
/* Styles for the front page element */

.selling-point {
  margin-top: 25vh;
  font-family: "argonite", sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
  text-align: center;
}
/* Styles for the selling point element */

.selling-point h3 {
  font-family: sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}
/* Styles for heading 3 elements within the selling point */

.ctas {
  margin-top: 2rem;
}
/* Styles for call-to-action elements */

.ctas button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
  margin: 1rem;
}
/* Styles for buttons within the call-to-action */

.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
/* Styles for the main call-to-action */

.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}
/* Styles for links within the main call-to-action */

.cta-sec {
  background-color: var(--secondary-color);
  color: white;
}
/* Styles for the secondary call-to-action */

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
/* Styles for the hero image */

.classes {
  color: var(--secondary-color);
  text-align: center;
  font-family: "argonite", sans-serif;
}
/* Styles for classes elements */

.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
/* Styles for videos */

.racecraft,
.apex,
.talent {
  position: relative;
}
/* Styles for racecraft, apex, and talent elements */

.videos h3 {
  position: absolute;
  color: var(--main-color);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.408);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 2rem;
}
/* Styles for heading 3 elements within the videos */

.about {
  color: var(--secondary-color);
}
/* Styles for the about section */

.about h2 {
  font-family: "argonite", sans-serif;
  text-align: center;
}
/* Styles for the about section heading */

.about p {
  line-height: 150%;
  font-size: 1.2rem;
}
/* Styles for paragraphs within the about section */

.about img {
  width: 100%;
  margin-top: 2rem;
}
/* Styles for images within the about section */

@media screen and (min-width: 768px) {
  body {
    padding: 0% 10%;
  }
  /* Media query styles for screens with a minimum width of 768px */

  .videos {
    display: flex;
    gap: 2rem;
  }
  /* Styles for videos container in larger screens */

  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  /* Styles for about section in larger screens */

  .about img {
    width: 50%;
  }
  /* Adjusts the width of images in the about section */

  .about h2 {
    text-align: start;
  }
  /* Adjusts the alignment of the about section heading */
}
